<style>

    .direct-chat .box-body {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        position: relative;
        overflow-x: hidden;
        padding: 0;
    }
    .direct-chat.chat-pane-open .direct-chat-contacts {
        -webkit-transform: translate(0,  0);
        -ms-transform: translate(0,  0);
        -o-transform: translate(0,  0);
        transform: translate(0,  0);
    }
    .direct-chat-messages {
        -webkit-transform: translate(0,  0);
        -ms-transform: translate(0,  0);
        -o-transform: translate(0,  0);
        transform: translate(0,  0);
        padding: 10px;
        /*height: 250px;*/
        overflow: auto;
    }
    .direct-chat-msg, .direct-chat-text {
        display: block;
    }
    .direct-chat-msg {
        margin-bottom: 10px;
    }
    .direct-chat-msg:before, .direct-chat-msg:after {
        content: " ";
        display: table;
    }
    .direct-chat-msg:after {
        clear: both;
    }
    .direct-chat-messages, .direct-chat-contacts {
        -webkit-transition: -webkit-transform .5s ease-in-out;
        -moz-transition: -moz-transform .5s ease-in-out;
        -o-transition: -o-transform .5s ease-in-out;
        transition: transform .5s ease-in-out;
    }
    .direct-chat-text {
        border-radius: 5px;
        position: relative;
        padding: 5px 10px;
        background: #d2d6de;
        border: 1px solid #d2d6de;
        margin: 5px 0 0 5px;
        color: #444;
    }
    .direct-chat-text:after, .direct-chat-text:before {
        position: absolute;
        right: 100%;
        top: 15px;
        border: solid transparent;
        border-right-color: #d2d6de;
        content: ' ';
        height: 0;
        width: 0;
        pointer-events: none;
    }
    .direct-chat-text:after {
        border-width: 5px;
        margin-top: -5px;
    }
    .direct-chat-text:before {
        border-width: 6px;
        margin-top: -6px;
    }
    .right .direct-chat-text {
        margin-right: 50px;
        margin-left: 0;
    }
    .right .direct-chat-text:after, .right .direct-chat-text:before {
        right: auto;
        left: 100%;
        border-right-color: transparent;
        border-left-color: #d2d6de;
    }


  .chat-name-bold {
      font-weight: bold;
  }

</style>